
<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="visualizeApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="visualizeApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="visualizeApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="visualizeApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Visualize</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
      
  
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
    
   <link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.min.css">
   
 
  
<link rel="stylesheet" href="css/bootstrap.min.css"/>
<!-- <link rel="stylesheet" href="css/bootstrap-theme.min.css"/> -->
<link rel="stylesheet" href="css/tree.css"/>

 <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/animations.css">
  
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
      <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
      

  
</head>
<!-- SLIDING PANE: https://github.com/dpiccone/ng-pageslide-->
<!-- UI TREE: http://jimliu.github.io/angular-ui-tree/-->
  <body oncontextmenu="return false;" style="overflow:hidden">

<div id="spinner"  style="text-align:center;position:absolute;background-color:transparent;height:300px;width:300px;left:50%;margin-left:-150px;top:45%;margin-top:-150px;">
    <span id="loadingText" style="position: relative; width: 0px; z-index: 2000000000; margin-left: auto; top: 220px;">
        loading flowbits...
    </span>
</div>

<div id="select-marquee" style="left: 336px; width: 0px; top: 266px; height: 0px;display:none"></div>

<!--TEMPORARILY COMMENTED OUT FOR PRESENTATION-->
<!-- Nested list template -->
<!--<script type="text/ng-template" id="items_renderer.html">-->
<!--<div ui-tree-handle data-nodrag>-->
  

<!-- <a class="btn btn-primary btn-xs" data-nodrag ng-init="details = true" ng-click="toggle(this); details = !details" ><span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>
<!--  <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this); remove_query(this);"><span class="glyphicon glyphicon-remove"></span></a>-->
  
<!--  <a class="pull-right btn btn-success btn-xs" data-nodrag ng-click="newSubItem(this); get_nodes(item, [], add_query );" style="margin-right: 8px;" ng-show="item.items.length <1" ><span class="glyphicon glyphicon-plus" ></span></a>-->
<!---->
 
<!--    <div class=''>-->
<!--        <input type="text" ng-model="item.label" typeahead="suggestion for suggestion in labels($viewValue)" style="width:92%; margin-left:7px;height:20px">-->
<!--    </div>-->
<!--      <div ng-show="details" class="details" style = "margin-left:18px;">-->
<!--      <span class = "query_piece_rel" ng-model="item.rel" ng-bind="item.rel = get_relationship(item);"></span>-->
<!--  </div>-->
<!--</div>-->
<!--<ol ui-tree-nodes="options" ng-model="item.items" ng-class="{hidden: collapsed}">-->
<!--  <li ng-repeat="item in item.items" ui-tree-node ng-cloak ng-include="'items_renderer.html'">-->
<!--  </li>-->
<!--</ol>-->
<!--</script>-->

<!--DEMO TEMPLATE-->
<!-- **************************** commented 2016 **************************** -->
<!-- <script type="text/ng-template" id="items_renderer.html">
<div ui-tree-handle data-nodrag>
    <div class=''>
        <input type="text" ng-click="run(item.query, item.qconfig);"  ng-model="item.label" typeahead="suggestion for suggestion in labels($viewValue)" style="width:92%; margin-left:7px;height:20px">
    </div>
      <div ng-show="details" class="details" style = "margin-left:18px;">
      <span class = "query_piece_rel" ng-model="item.rel" ng-bind="item.rel = get_relationship(item);"></span>
  </div>
</div>
<ol ui-tree-nodes="options" ng-model="item.items" ng-class="{hidden: collapsed}">
  <li ng-repeat="item in item.items" ui-tree-node ng-cloak ng-include="'items_renderer.html'">
  </li>
</ol>
</script> -->
<!-- **************************** /commented 2016 **************************** -->


<div id="container" ng-controller="AppCtrl" ng-cloak>
    
    
    <div class="map_container" ng-cloak>
   <!-- <div class = "map_panel" ng-controller="MapCtrl"  >-->
        <div id="map" style="border:4px solid #000;position:relative; height: 200px !important; width: 200px !important; padding: 0 !important; margin-bottom:10px;" ></div>
         <input id="query" type="submit" value="&nbsp;GENERATE AREA&nbsp;" style =  "display:inline; float: center; margin-bottom:10px; width:100%" ng-click="menu_open = !menu_open;generateContext();"/>
               <input type="submit" value="&nbsp;TOGGLE MENU&nbsp;" style =  "display:inline; float: center; margin-bottom:10px; width:100%" ng-init="menu_open=false" ng-click="menu_open = !menu_open"/>

       <!--COMMENTED OUT FOR PRESENTATION:-->
       <!--<div  style = "position:absolute; top:50px background:none;" >KEYFRAME MENU: <input type="checkbox" ng-model="checked"></div>
<div ng-cloak style = "position:absolute; top:50px background:none;" >VISUALIZATION MENU: <input type="checkbox" ng-model="checked"></div>-->
    </div>  
<!-- <pageslide  ps-open="menu_open" ps-target="#menu" pageslide="right" ps-speed="0.5" ></pageslide> -->

<!-- **************************** commented 2016 **************************** -->
<!-- <div id="menu" ng-cloak style="display:block !important">

    <div ng-controller="SearchCtrl">
    <div style="margin-left: 5%; width:90%">

      <h3 style="font-size:16px;"></h3>
      <div ui-tree="options">
        <ol ui-tree-nodes ng-model="list" >
          <li ng-repeat="item in list" ui-tree-node ng-include="'items_renderer.html'"></li>
        </ol>
        </div>
    </div>
    </div>

    
</div> -->
<!-- **************************** /commented 2016 **************************** -->

<!--End pageslide-->

    <div id="webglContainer" material-type="materialType"  tracing-template="tracingTemplate"></div>
    
        <div class='player'>            
            <ul class="menu">
                <input id="play"  type="submit" value=">" style =  "display:inline; float: center; margin-bottom:10px;" ng-click="startTimer();"/>
                <input id="pause"  type="submit" value="| |" style =  "display:inline; float: center; margin-bottom:10px;"  ng-click="stopTimer();"/>
                <input id="loop"  type="submit" value="O" style = "display:inline; float: center; margin-bottom:10px;"  ng-click="resetTimer();"/>
               <span id="description" class="caption" style = "float: right;margin-bottom:10px;" ng-bind="description"></span>
            </ul>
            
            <input type="range" ng-model="time" min="{{startTime}}" max="{{endTime}}" step="{{step}}"  ng-change="updateSlider();"><div ng-bind="time" ng-style="sliderStyle" style =  "color:white;">0</div>
        </div>





  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
    <script src="bower_components/jquery/jquery.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-pageslide-directive/src/angular-pageslide-directive.js"></script>
    <script src="bower_components/threejs/build/three.min.js"></script>
    <script src="bower_components/tween.js/src/Tween.js"></script>
    <script src="bower_components/osmthree/bin/osmthree.js"></script>
    
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    
    
    <script src="bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
    
    <script src="library/tracing_templates/as_tracing_template.js"></script>
      
    <script src="js/utils/orbitControls.js"></script>
    <script src="js/utils/env.js"></script>
    <script src="js/utils/timer.js"></script>
    <script src="js/utils/terraingen.js"></script>
    <script src="js/utils/selectionManager.js"></script>

    <script src="js/utils/globalvar.js"></script>
    <script src="js/utils/events.js"></script>
    <script src="js/utils/pancontrols.js"></script>
    <script src="js/utils/marquee.js"></script>

    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/animations.js"></script>
    
       <script src="js/utils/spin.js"></script>
    
       <script type="text/javascript" src="js/utils/keydragzoom.js"></script>

        <script type="text/javascript">
        var map;
        function init() {
          var myOptions = {
            zoom: 12,
            center: new google.maps.LatLng(22.288339, 114.171982),
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            streetViewControl: false,
            mapTypeControl: false,
            styles: [ { stylers:[     {hue:'#ff1a00'},      {invert_lightness:true},      {saturation:-100},      {lightness:33},     {gamma:0.5} ] },{   featureType:'water',    elementType:'geometry',   stylers:[     {color:'#2D333C'}   ] }]

          }
          map = new google.maps.Map(document.getElementById("map"), myOptions);

          // FIXME: Temporarily commented out - perhaps google deprecated it?
          // may be able to download a script to restore this.
          map.enableKeyDragZoom();
          // google.maps.Map.enableKeyDragZoom()
        }
        
                   
           window.onload=function(){
               
               init();
               
               document.getElementById('spinner').style.display="none";
               
           }
        
    </script>
    
<!--     CUSTOM SHADERS: Is there another way to handle this besides declaring it in HTML?
    It would be nice to have a Materials/Shaders  Library... -->
    <script id="fragmentShader" type="x-shader/x-vertex"> 
    uniform vec3 glowColor;
    varying float intensity;
    void main() 
    {
        vec3 glow = glowColor * intensity;
        gl_FragColor = vec4( glow, 1.0 );
    }
    </script>

    <script id="vertexShader" type="x-shader/x-vertex">
    uniform vec3 viewVector;
    uniform float c;
    uniform float p;
    varying float intensity;
    void main() 
    {
        vec3 vNormal = normalize( normalMatrix * normal );
        vec3 vNormel = normalize( normalMatrix * viewVector );
        intensity = pow( c - dot(vNormal, vNormel), p );
        
        gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
    }
    </script>
      <script>
           

           
           var opts = {
  lines: 13, // The number of lines to draw
  length: 20, // The length of each line
  width: 8, // The line thickness
  radius: 20, // The radius of the inner circle
  corners: 1, // Corner roundness (0..1)
  rotate: 0, // The rotation offset
  direction: 1, // 1: clockwise, -1: counterclockwise
  color: '#FFFFFF', // #rgb or #rrggbb or array of colors
  speed: 1, // Rounds per second
  trail: 60, // Afterglow percentage
  shadow: true, // Whether to render a shadow
  hwaccel: false, // Whether to use hardware acceleration
  className: 'spinner', // The CSS class to assign to the spinner
  zIndex: 2e9, // The z-index (defaults to 2000000000)
  top: 'auto', // Top position relative to parent in px
  left: 'auto', // Left position relative to parent in px
};
var target1 = document.getElementById('spinner');
var spinner = new Spinner(opts).spin(target1);

       //    console.log(spinner);
       
       
       
       </script>   
    
   
 </div>   
</body>
</html>
