<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="visualizeApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="visualizeApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="visualizeApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="visualizeApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Visualize</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/animations.css">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>


  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
<div id="container" ng-controller="AppCtrl">
    
    <div class = "control_panel" ng-controller="MenuCtrl" >
         <div class = "control_header" >
            CONTROLS
            <input id="min"  type="submit" value="-" style = "display:inline; float: right;padding:5px 10px;" ng-click="showMenu = false"/>
            <input id="max" type="submit" value="+" style = "display:inline; float: right;padding:5px 10px;" ng-click="showMenu = true"/>
         </div>
         <div class = "control_body" ng-show="showMenu" >
            <textarea id = "query" cols="85" rows="12" ng-model="testjson" style = "margin-bottom:10px;" ></textarea>
            <ul class="menu">
                <input id="query" type="submit" value="RUN" style =  "display:inline; float: center; margin-bottom:10px;" ng-click="get_from_neo4j( nul , testjson );"/>
                <input id="load" type="submit" value="LOAD" style =  "display:inline; float: center; margin-bottom:10px;"ng-click="get_from_neo4j( vis_config, null );"/>
                 <input id="load" type="text" ng-model="vis_config">
                <span id="loading" style = "float: right;padding-top: 5px;padding-right: 5px;" ng-show="loading">loading...</span>
            </ul>
        </div>
    </div>

    <div id="webglContainer" material-type="materialType"  tracing-template="tracingTemplate"></div>
    
        <div class='player'>            
            <ul class="menu">
                <input id="play"  type="submit" value=">" style =  "display:inline; float: center; margin-bottom:10px;" ng-click="startTimer();"/>
                <input id="pause"  type="submit" value="| |" style =  "display:inline; float: center; margin-bottom:10px;"  ng-click="stopTimer();"/>
                <input id="loop"  type="submit" value="O" style = "display:inline; float: center; margin-bottom:10px;"  ng-click="resetTimer();"/>
            </ul>
            
            <input type="range" ng-model="time" min="{{startTime}}" max="{{endTime}}" step="1" class="ng-pristine ng-valid" ng-change="updateSlider();"><div ng-bind="time" ng-style="sliderStyle" style =  "color:white;">0</div>
        </div>

</div>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
    <script src="bower_components/jquery/jquery.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/threejs/build/three.min.js"></script>
    <script src="bower_components/tween.js/src/Tween.js"></script>
    <script src="bower_components/osmthree/bin/osmthree.js"></script>
    
      <script src="library/tracing_templates/as_tracing_template.js"></script>
      
    <script src="js/utils/orbitControls.js"></script>
    <script src="js/utils/threeEnv.js"></script>
    <script src="js/utils/timer.js"></script>
    
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/animations.js"></script>
    
<!--     CUSTOM SHADERS: Is there another way to handle this besides declaring it in HTML?
    It would be nice to have a Materials/Shaders  Library... -->
    <script id="fragmentShader" type="x-shader/x-vertex"> 
    uniform vec3 glowColor;
    varying float intensity;
    void main() 
    {
        vec3 glow = glowColor * intensity;
        gl_FragColor = vec4( glow, 1.0 );
    }
    </script>

    <script id="vertexShader" type="x-shader/x-vertex">
    uniform vec3 viewVector;
    uniform float c;
    uniform float p;
    varying float intensity;
    void main() 
    {
        vec3 vNormal = normalize( normalMatrix * normal );
        vec3 vNormel = normalize( normalMatrix * viewVector );
        intensity = pow( c - dot(vNormal, vNormel), p );
        
        gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
    }
    </script>
</body>
</html>
